reviews/*
!reviews/fakeReviews/.gitkeep
!reviews/yelpReviews/.gitkeep
!reviews/YelpZip/.gitkeep
**/.ipynb_checkpoints
files/*
!files/review_chunks/no_label/no_group/.gitkeep
!files/review_chunks/no_label/rating_group/.gitkeep
models/*
!models/.gitkeep
